* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 4vw;
}

body {
	width: 80%;
	margin: 10vh auto;
	font-size: 1em;
}

h1 {
	font-size: 2em;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1em;
	margin-bottom: 1rem;
}

p, img, ul, pre {
	margin-bottom: 1rem;
}

img {
	max-width: 100%;
}

.slide {
	margin-bottom: 20vh;
	padding-bottom: 20vh;
	border-bottom: 10px solid #0A263C;
}

@media (min-width: 1000px) {
	html {
		font-size: 3vw;
	}
}