@font-face {
	font-family: "SF Mono";
	font-weight: normal;
	src: url("http://indiecodeworkshop.com/SFMono-Regular.otf") format('opentype');
}

@font-face {
	font-family: "SF Mono";
	font-weight: bold;
	src: url("http://indiecodeworkshop.com/SFMono-Bold.otf") format('opentype');
}

@font-face {
	font-family: "SF Mono";
	font-weight: 800;
	src: url("http://indiecodeworkshop.com/SFMono-Heavy.otf") format('opentype');
}

html {
	font-family: "SF Mono", "Menlo", "Courier", monospace;
	background-color: #05131E;
	color: white;
}

h1 {
	font-weight: 900;
	color: #289CF5;
}

h2 {
	color: #7B72E9;
}

h3 {
	margin-top: 1rem;
	color: #77D5E8;
}

a {
	color: #FC920F;
}

a:hover {
	color: white;
}

pre {
	font-size: .75em;
}

em {
	font-style: normal;
	color: #77D5E8;
}