<!doctype html>
<html>
	<head>
		<title>Display</title>
		<meta charset="utf-8">
		<meta http-equiv="refresh" content="30">
	</head>
	<body>
		<h1>{{ slide }}</h1>
		<p>Press J or K to navigate</p>

		<script type="text/javascript">
			document.onkeypress = function (e) {
				e = e || window.event;
				var keyCode = e.keyCode;
				if (keyCode == 106) {
					window.location.href = window.location.href + 'prev'
				}
				if (keyCode == 107) {
					window.location.href = window.location.href + 'next'
				}
			}
		</script>