<!doctype html>
<html>
	<head>
		<title>Keynote</title>
		<meta charset="utf-8"/>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
	</head>
	<body>
{% for slide in keynote %}
<div class="slide">
{% for line in slide %}{% if line[:4] == '    ' %}{{ line[4:] }}
{% else %}{{ line|safe }}{% endif %}{% endfor %}
</div>
{% endfor %}
	</body>
	<script type="text/javascript" src="{{ url_for('static', filename='js/prism.js') }}"></script>
</html>